<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
</head>
<body>
<div th:replace="~{layout::menu}"></div>

<div class="container bg-transparent mt-5">
    <div class="row mt-1">
        <div class="col-12">
            <h1 style="text-align: center; color: deeppink">Thêm mới khách hàng</h1>
        </div>
    </div>
    <div class="row mt-5" style="padding-left: 20px">
        <div class="col-6">
            <div class="row bg-transparent">
                <form th:action="@{/customer/save}" th:object="${customer}" method="post">
                    <table class="table table-borderless">
                        <tr hidden>
                            <td colspan="5"><label for="id">Id: </label></td>
                            <td colspan="3"><input type="hidden" id="id" th:field="*{id}"></td>
                        </tr>

                        <tr>
                            <td colspan="5"><label for="name">Tên: </label></td>
                            <td colspan="3"><input type="text" id="name" th:field="*{name}" placeholder="Nhập tiêu đề bài viết"></td>
                        </tr>

                        <tr>
                            <td colspan="5"><label for="author">Ngày sinh: </label></td>
                            <td colspan="3"><input id="author" th:field="*{birthday}" type="date"></td>
                        </tr>

                        <tr>
                            <td colspan="5"><label>Giới tính: </label></td>
                            <td colspan="3">

                                <input type="radio" id="option" class="custom-control-input" value="0" th:field="*{gender}">
                                <label class="custom-control-label" for="option">Nữ</label>
                                <input type="radio" id="option1" class="custom-control-input" value="1" th:field="*{gender}">
                                <label class="custom-control-label" for="option1">Nam</label>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="5"><label for="pn">Mã khách hàng: </label></td>
                            <td colspan="3"><input type="text" id="pn" th:field="*{idCard}"></td>
                        </tr>

                        <tr>
                            <td colspan="5"><label for="phone">Số điện thoại: </label></td>
                            <td colspan="3"><input type="text" id="phone" th:field="*{phone}"></td>
                        </tr>

                        <tr>
                            <td colspan="5"><label for="email">Email: </label></td>
                            <td colspan="3"><input type="text" id="email" th:field="*{email}"></td>
                        </tr>

                        <tr>
                            <td colspan="5"><label for="address">Địa chỉ: </label></td>
                            <td colspan="3"><input type="text" id="address" th:field="*{address}"></td>
                        </tr>

                        <tr>
                            <td colspan="5"><label>Loại khách hàng: </label></td>
                            <td colspan="3">
                                <label>
                                    <select th:field="*{customerType}" class="form-select" aria-label="Default select example">
                                        <option th:value="0" selected>Chọn loại khách hàng</option>
                                        <option th:each="temp : ${customerTypeList}" th:value="${temp.id}"
                                                th:text="${temp.name}"></option>
                                    </select>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="5"></td>
                            <td colspan="3">
                                <button class="btn btn-secondary" type="submit">Tạo mới</button>
                                <a class="btn btn-secondary" th:href="@{/customer}" role="button">Hủy</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout::footer}"></footer>
</body>
</html>