<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">

</head>
<body>

<div th:replace="~{layout::menu}"></div>
<div class="container bg-transparent mt-5">


    <div class="row">
        <div class="col-4 mt-3">
            <a class="btn btn-secondary" th:href="@{/customer/create}" role="button">Thêm mới bài viết </a>
            <!--            <button type="button" class="btn btn-danger" data-bs-toggle="modal"-->
            <!--                    data-bs-target="#exampleModal0">Thêm mới khách hàng-->
            <!--            </button>-->

            <!--            &lt;!&ndash; Modal Thêm mới&ndash;&gt;-->
            <!--            <div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel"-->
            <!--                 aria-hidden="true">-->
            <!--                <div class="modal-dialog">-->
            <!--                    <div class="modal-content">-->
            <!--                        <div class="modal-header">-->
            <!--                            <h5 class="modal-title" id="exampleModalLabel1">Thêm mới khách hàng:</h5>-->
            <!--                            <button type="button" class="btn-close" data-bs-dismiss="modal"-->
            <!--                                    aria-label="Close"></button>-->
            <!--                        </div>-->
            <!--                        <form th:action="@{customer/save}" method="post" th:object="${customer}">-->
            <!--                            <div class="modal-body">-->
            <!--                                <table class="table table-borderless">-->
            <!--                                    <tr>-->
            <!--                                        <td><label for="name">Tên: </label></td>-->
            <!--                                        <td><input type="text" id="name" th:field="*{name}"-->
            <!--                                                   placeholder="Nhập tiêu đề bài viết"></td>-->
            <!--                                    </tr>-->

            <!--                                    <tr>-->
            <!--                                        <td><label for="birthday">Ngày sinh: </label></td>-->
            <!--                                        <td><input id="birthday" th:field="*{birthday}" type="date"></td>-->
            <!--                                    </tr>-->

            <!--                                    <tr>-->
            <!--                                        <td><label>Giới tính: </label></td>-->
            <!--                                        <td>-->

            <!--                                            <input type="radio" id="option" class="custom-control-input" value="0"-->
            <!--                                                   th:field="*{gender}">-->
            <!--                                            <label class="custom-control-label" for="option">Nữ</label>-->
            <!--                                            <input type="radio" id="option1" class="custom-control-input" value="1"-->
            <!--                                                   th:field="*{gender}">-->
            <!--                                            <label class="custom-control-label" for="option1">Nam</label>-->

            <!--                                        </td>-->
            <!--                                    </tr>-->

            <!--                                    <tr>-->
            <!--                                        <td><label for="pn">Mã khách hàng: </label></td>-->
            <!--                                        <td><input type="text" id="pn" th:field="*{idCard}"></td>-->
            <!--                                    </tr>-->

            <!--                                    <tr>-->
            <!--                                        <td><label for="phone">Số điện thoại: </label></td>-->
            <!--                                        <td><input type="text" id="phone" th:field="*{phone}"></td>-->
            <!--                                    </tr>-->

            <!--                                    <tr>-->
            <!--                                        <td><label for="email">Email: </label></td>-->
            <!--                                        <td><input type="text" id="email" th:field="*{email}"></td>-->
            <!--                                    </tr>-->

            <!--                                    <tr>-->
            <!--                                        <td><label for="address">Địa chỉ: </label></td>-->
            <!--                                        <td><input type="text" id="address" th:field="*{address}"></td>-->
            <!--                                    </tr>-->

            <!--                                    <tr>-->
            <!--                                        <td><label>Loại khách hàng: </label></td>-->
            <!--                                        <td>-->
            <!--                                            <label>-->
            <!--                                                <select th:field="*{customerType}" class="form-select"-->
            <!--                                                        aria-label="Default select example">-->
            <!--                                                    <option th:value="0" selected>Chọn loại khách hàng</option>-->
            <!--                                                    <option th:each="temp : ${customerTypeList}" th:value="${temp.id}"-->
            <!--                                                            th:text="${temp.name}"></option>-->
            <!--                                                </select>-->
            <!--                                            </label>-->
            <!--                                        </td>-->
            <!--                                    </tr>-->
            <!--                                </table>-->

            <!--                            </div>-->
            <!--                            <div class="modal-footer">-->
            <!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy-->
            <!--                                </button>-->
            <!--                                <button type="submit" class="btn btn-primary">Thêm mới</button>-->
            <!--                            </div>-->
            <!--                        </form>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <div class="col-4 mb-3 d-flex justify-content-center">
            <h1 style="color: crimson" th:if="${success != null}" th:text="${success}"></h1>
        </div>

    </div>


    <!--        Tìm kiếm-->
    <div class="row">
        <div class="col-3 mt-3"></div>
        <div class="col-6 mt-3">
            <form th:action="@{/customer}" th:method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nhập tên khách hàng"
                           aria-label="Recipient's username"
                           aria-describedby="button-addon2" name="name">
                    <input type="text" class="form-control" placeholder="Nhập mã khách hàng"
                           aria-label="Recipient's username"
                           aria-describedby="button-addon2" name="idCard">
                    <select th:if="${seachCustomerTypeId==0}" name="customerTypeId" class="form-select"
                            aria-label="Default select example">
                        <option th:value="0" selected>Tất cả</option>
                        <option th:each="temp : ${customerTypeList}" th:value="${temp.id}"
                                th:text="${temp.name}"></option>
                    </select>
                    <select th:if="${seachCustomerTypeId!=0}" name="customerTypeId" class="form-select"
                            aria-label="Default select example">
                        <option th:each="temp : ${customerTypeList}" th:if="${seachCustomerTypeId==temp.id}"
                                th:value="${temp.id}" th:text="${temp.name}"></option>
                        <option th:each="temp : ${customerTypeList}" th:if="${seachCustomerTypeId!=temp.id}"
                                th:value="${temp.id}" th:text="${temp.name}"></option>
                        <option th:value="0">Tất cả</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Tìm kiếm</button>
                </div>
            </form>
        </div>
        <div class="col-3 mt-3"></div>
    </div>


    <!--       Bảng danh sách-->
    <div class="row mt-5">
        <div class="col-lg-12">
            <table id="tableStudent" class="table table-primary table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th rowspan="2" colspan="2">Họ và tên</th>
                    <th rowspan="2" colspan="2">Ngày sinh</th>
                    <th rowspan="2" colspan="2">Giới tính</th>
                    <th rowspan="2" colspan="2">Loại khác hàng</th>
                    <th rowspan="2" colspan="2">Mã Khách hàng</th>
                    <th rowspan="2" colspan="2">SĐT</th>
                    <th rowspan="2" colspan="2">Email</th>
                    <th rowspan="2" colspan="2">Địa chỉ</th>
                    <th rowspan="2" colspan="2">
                        <div class="d-flex justify-content-center">
                            Chỉnh sửa
                        </div>
                    </th>
                    <th colspan="2">
                        <div class="d-flex justify-content-center">
                            Xóa
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,rowStat : ${pages}">
                    <td colspan="2" th:text="${row.name}"></td>
                    <td colspan="2" th:text="${row.birthday}"></td>
                    <td colspan="2">
                        <span th:if="${row.gender}">Nam</span>
                        <span th:if="${!row.gender}">Nữ</span>
                    </td>
                    <td colspan="2" th:text="${row.customerType.name}"></td>
                    <td colspan="2" th:text="${row.idCard}"></td>
                    <td colspan="2" th:text="${row.phone}"></td>
                    <td colspan="2" th:text="${row.email}"></td>
                    <td colspan="2" th:text="${row.address}"></td>

                    <!--                    Edit-->
                    <td colspan="2">
                        <!--                        <div class="d-flex justify-content-center">-->
                        <!--                            <a class="btn btn-danger" role="button" th:href="@{/customer/edit(id=${row.getId()})}">Chỉnh-->
                        <!--                                sửa</a>-->
                        <!--                        </div>-->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                th:attr="data-bs-target='#editModal'+${row.id}">Chỉnh sửa
                        </button>
                        <div class="modal fade" th:id="'editModal'+${row.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Chỉnh sửa:</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form th:action="@{customer/edit(id=${row.id})}" th:object="${customerEdit}"
                                          method="post">
                                        <div class="modal-body">
                                            <table class="table table-borderless">
                                                <tr>
                                                    <td><label for="nameEdit">Tên: </label></td>
                                                    <td><input type="text" id="nameEdit" th:value="${row.name}"></td>
                                                </tr>

                                                <tr>
                                                    <td><label for="birthdayEdit">Ngày sinh: </label></td>
                                                    <td><input id="birthdayEdit" th:value="${row.birthday}" type="date">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><label>Giới tính: </label></td>
                                                    <td>
                                                        <div th:if="${row.gender}">
                                                            <input type="radio" id="optionEdit"
                                                                   class="custom-control-input"
                                                                   value="0">
                                                            <label class="custom-control-label"
                                                                   for="optionEdit">Nữ</label>
                                                            <input type="radio" id="option1Edit"
                                                                   class="custom-control-input"
                                                                   value="1" checked>
                                                            <label class="custom-control-label"
                                                                   for="option1Edit">Nam</label>
                                                        </div>

                                                        <div th:if="${!row.gender}">
                                                            <input type="radio" id="optionEdit2"
                                                                   class="custom-control-input"
                                                                   value="0" checked>
                                                            <label class="custom-control-label"
                                                                   for="optionEdit2">Nữ</label>
                                                            <input type="radio" id="option1Edit3"
                                                                   class="custom-control-input"
                                                                   value="1">
                                                            <label class="custom-control-label"
                                                                   for="option1Edit3">Nam</label>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><label for="customerTypeEdit">Mã khách hàng: </label></td>
                                                    <td><input type="text" id="customerTypeEdit"
                                                               th:value="${row.idCard}"></td>
                                                </tr>

                                                <tr>
                                                    <td><label for="phoneEdit">Số điện thoại: </label></td>
                                                    <td><input type="text" id="phoneEdit" th:value="${row.phone}"></td>
                                                </tr>

                                                <tr>
                                                    <td><label for="emailEdit">Email: </label></td>
                                                    <td><input type="text" id="emailEdit" th:value="${row.email}"></td>
                                                </tr>

                                                <tr>
                                                    <td><label for="addressEdit">Địa chỉ: </label></td>
                                                    <td><input type="text" id="addressEdit" th:value="${row.address}">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><label>Loại khách hàng: </label></td>
                                                    <td>
                                                        <label>
                                                            <select class="form-select"
                                                                    aria-label="Default select example">
                                                                <option th:each="temp : ${customerTypeList}"
                                                                        th:if="${row.customerType.id==temp.id}"
                                                                        th:value="${temp.id}"
                                                                        th:text="${temp.name}"></option>
                                                                <option th:each="temp : ${customerTypeList}"
                                                                        th:if="${row.customerType.id!=temp.id}"
                                                                        th:value="${temp.id}"
                                                                        th:text="${temp.name}"></option>
                                                            </select>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy
                                            </button>
                                            <button type="submit" class="btn btn-primary">Cập nhập</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>

                    <!--Xóa-->
                    <td colspan="2">
                        <!--                                                <div class="d-flex justify-content-center">-->
                        <!--                                                        <a class="btn btn-danger" role="button"-->
                        <!--                                                           th:href="@{/customer/delete(id=${row.getId()})}">Xóa</a>-->
                        <!--                                                </div>-->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                th:attr="data-bs-target='#exampleModal'+${row.id}">Xóa
                        </button>
                        <div class="modal fade" th:id="'exampleModal'+${row.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thông báo:</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form th:action="@{customer/delete(id=${row.id})}" method="post">
                                        <div class="modal-body">
                                            <p>Bạn có muốn xóa: <span th:text="${row.name}"></span></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy
                                            </button>
                                            <button type="submit" class="btn btn-primary">Xóa</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mt-3"></div>
        <div class="col-2 mt-3 d-flex justify-content-end">
            <div>
                <a class="btn btn-secondary" role="button"
                   th:href="@{/customer(page=${pages.number - 1},
                   name=${seachName},idCard=${seachIdCard},
                   customerTypeId=${seachCustomerTypeId})}"
                   th:if="${pages.hasPrevious()}">Trang sau</a>
            </div>
        </div>
        <div class="col-2 mt-3 d-flex justify-content-center">
            <div>
                <span th:text="${pages.number+1}"></span>/<span th:text="${pages.totalPages}"></span>
            </div>
        </div>
        <div class="col-2 mt-3">
            <a class="btn btn-secondary" role="button"
               th:href="@{/customer(page=${pages.number + 1},
                   name=${seachName},idCard=${seachIdCard},
                   customerTypeId=${seachCustomerTypeId})}"
               th:if="${pages.hasNext()}">Trang tiếp theo</a>
        </div>
        <div class="col-3 mt-3"></div>
    </div>
</div>

<footer th:replace="~{layout::footer}"></footer>
</body>
</html>