<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<div th:replace="~{layout::menu}"></div>

<div class="container bg-body bg-gradient bg-opacity-50 mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-flex justify-content-center">
            <h1 th:text="${blog.name}"></h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-5">
        <p th:text="${blog.content}"></p>
    </div>
</div>

<div th:replace="~{layout::footer}"></div>
</body>
</html>