<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">

</head>
<body>
<h3>Ứng dụng Blog</h3>
<p>
    <a th:href="@{/blog/create}">
        Thêm mới Blog
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>


<table id = "customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tiêu đề</th>
        <th>Tác giả</th>
        <th>Tình trạng</th>
        <th>Chỉnh sửa</th>
        <th>Xóa</th>
        <th>Xem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${blogList}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.title}"></td>
        <td th:text="${row.author}"></td>
        <td th:text="${row.status}"></td>
        <td><a th:href="@{/blog/edit(id=${row.getId()})}">Chỉnh sửa</a></td>
        <td><a th:href="@{/blog/delete(id=${row.getId()})}">Xóa</a></td>
        <td><a th:href="@{/blog/view(id=${row.getId()})}" target="_blank">Xem</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="~{layout::footer}"></footer>
</body>
</html>